[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
taobaopyx = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
requests = "*"
isort = "*"

[requires]
python_version = "3.9"
